# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

bin/

// Test files
fixtures/**/*.jpg

debug.sh

fixtures/output/-original_0_sample_iPod.m4v

fixtures/output/-original_0_sample_mpeg4.mp4

fixtures/output/encode_0_sample_iPod.mp4

fixtures/output/encode_0_sample_mpeg4.mp4

builds/

demo-session.sh

.vagrant/
